<router-outlet></router-outlet>

<div class="Bar-wrap">
	
	<!--  路由 [routerLink]="['/','home']" -->
	
	<a routerLink="/home" routerLinkActive="active">
		<i class="iconfont icon-dianpu"></i>
		<span>首页</span>
	</a>

	<a routerLink="/about" routerLinkActive="active">
		<i class="iconfont icon-fenlei"></i>
		<span>分类</span>
	</a>
	
	<!-- 路由跳转 传参 -->
	<a [routerLink]="['/cart',num]" routerLinkActive="active">
		<i class="iconfont icon-gouwuche"></i>
		<span>购物车</span>
	</a>
	
	<a routerLink="/mine" routerLinkActive="active">
		<i class="iconfont icon-wode"></i>
		<span>我的</span>
	</a>

</div>